/*

Colors:

Light White: #e9eaead6;
White: #e9eaea;
Light: #27292d
Dark: #18191a

*/

/* Sitewide */

@font-face {
	font-family: Prime-Light;
	src: url(Prime/Prime-Light.woff) format('woff');
}
@font-face {
	font-family: Prime-Regular;
	src: url(Prime/Prime-Regular.woff) format('woff');
}

body {
	margin: 0px;
}

h1 {
	font-family: Prime-Regular, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	margin: 0px 0px ;
	color: #e9eaea;
	line-height: 1.2;
	margin-bottom: 5px;
}
h2 {
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	margin: 0px 0px ;
	color: #e9eaea;
}

h3 {
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	margin: 0px 0px 10px 0px ;
	color: #e9eaea;
}
h3 span {
	margin-left: 6px;
	position: absolute;
	overflow: hidden;
	opacity: 0;
	color: #e9eaea;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 14px;
	font-family: Prime-Regular, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	max-width: 300px;
}
h4 {
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	    font-size: 14px;
	    font-style: normal;
	    font-variant: normal;
	    font-weight: 100;
	    margin: 20px 0px;
	    color: #e9eaea;
	    letter-spacing: 1.4px;
}
p {
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 2;
	margin: 0px 0px ;
	color: #e9eaea;
}
a {
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 2;
	margin: 0px 0px ;
	color: #e9eaea;
	text-decoration: none;
	border-bottom: 1px solid #e9eaea6e;
}
a::after {
	content: '>>';
	margin-left: 5px;
	font-size: 10px;
}
a.anchor::after {
	content: 'vv';
	margin-left: 5px;
	font-size: 10px;
}
body > div {
    min-height: 100%;
    background-color: #5C6266;
}

/* highest level container */
.master_wrap {
	display: flex;
}
/* DESKTOP */
.desktop {
}

.d_cont {
	height: 24%;
	width: 200px;
	background-color: #27292D;
	display: flex;
	border-right: 3px solid #969E9F;
	border-radius: 6px;
	border-bottom: 3px solid #969E9F;
	position: fixed;
	padding: 60px 20px;
	/* margin: auto; */
	top: 20%;
	left: 40px;
}
.d_content {
	margin: auto auto auto 10px;
}
@media(max-width: 420px){
	.desktop {
		display: none;
	}
}
/* Desktop Nav */
@media (min-width: 1285px) {
	.close_nav {
		bottom: 85px !important;
		right: 65px !important;
	}
}

/* MOBILE */
@media (min-width: 421px){

	.mobile {
		/* max-width: 420px; */
		/* margin: 0px auto; */
		width: 100%;
		margin: 80px 80px 0px 250px;
	}

	.nav_btn {
		right: 85px !important;
	}

	.close_nav {
		padding: 3px !important;
		width: 40px !important;
    height: 40px !important;
		background-color: #27292d !important;
	}

	.close_nav button {
		background-color: #18191a !important;

	}
}
/*
Go here to upload images:
http://www.freeimagehosting.net/upload.php
*/


/* Dev 032820 */

/* vvv NAV BTSN vvv */
.nav_btn {
	width: 50px;
	height: 50px;
	position: fixed;
	bottom: 85px;
	right: 15px;
	display: flex;
	animation: nav_fade 1.3s;
}
.close_nav {
	background-color: #18191a;
	width: 20px;
	height: 20px;
	position: fixed;
	bottom: 10px;
	right: 10px;
	display: flex;
	z-index: 10;
	animation: open_nav_2 0.5s;
	padding-top: 3px;

}
.nav_btn button {
	height: 100%;
	width: 100%;
	background: #18191a;
	border: 0px;
	padding: 0px;
	color: #e9eaead6;
}
.close_nav button {
	height: 100%;
    width: 100%;
    color: #e9eaead6;
    font-size: 8px;
    padding: 0px;
    border: 0px;
    background-color: #27292d;
    transform: rotate(180deg);
}
.nav-btn .bar {
	height: 2px;
    background-color: #000;
    width: 100%;
    margin: 0 auto 1px auto;
    display: inline-block;
}
.hide {
	display:none;
}
/* ^^^ NAV BTNS ^^^ */

/* vvv NAV MENU vvv */
.nav {
	position: fixed;
	width:100%;
	max-width: 420px;
	bottom: -5px;
    animation: open_nav 0.4s;
    transition-timing-function: ease-in-out;
}
.nav_wrap {
	height: 100%;
	width: 100%;
	display: flex;
	background-color: #18191a;
	padding: 0px 0px 5px 0px;
	border-top: 1px solid #e9eaea50;
}
.item {
	width: 25%;
	height: 21vh;
	background-color: #18191a;
	display: flex;
}
.item button {
	color: #e9eaea;
    width: 100%;
    margin: auto;
    height: 69px;
    background-color: #18191a;
    border: none;
    border-right: 1px solid #e9eaea85;
		font-size: 12px;
}
.nav_wrap .item:last-child button {
    border-right: none;
}
/* ^^^ NAV MENU ^^^ */

/* Blocks */

.block {
	position: fixed;
    bottom: 21vh;
    background-color: #18191a;
    width: 100%;
		max-width: 420px;
    margin-bottom: 1px;
    animation: open_nav 0.4s;
    transition-timing-function: ease-in-out;
    height: 21vh;
    display: flex;
}

.block_cont {
	margin: auto;
}
.caption {
    text-align: right;
    margin-right: 6px;
}

.hero-txt h2 {}

.footer {
    margin: 40px auto 10px auto;
    background-color: #27292d;
    padding: 10px 40px;
    border-radius: 6px;
    border-right: 2px solid #969E9F;
    border-bottom: 2px solid #969E9F;
    text-align: center;
    width: 80%;
}

.footer a {
    margin: 0px 10px;
}

.footer div:first-child {
    margin-top: 0px;
}

.footer div {
    margin-top: 20px;
}

.img-2 {
    height: 250px;
    background-size: cover;
    background-position: 50% 48%;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
    margin: auto;
    margin-bottom: 3px;
}

.quote div:nth-child(2) {
    background-color: #27292D;
    padding: 20px 20px 50px 20px;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}

/* Animations */

@keyframes open_nav {
    0%   {transform: translateY(10px);}
    50%  {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

@keyframes open_nav_2 {
	0%   {transform: translate(-5px, -5px);opacity: 0;}
    60% {opacity: 0.2;}
    100% {transform: translate(0px, 0px);opacity: 1;}
}
/* how do we so exit animations
looks like we might have to add to classes at the same time, but that's kind
*/



/* end nav menu */

/* start intro */
.intro {
	background-color: #27292d;
	color: #e9eaea;
	background-size:cover;
	background-position: 50% 30%;
	height: 54vh;
	/* animation: hero_slide 30s linear; */
	/* margin: 80px 80px 80px 80px; */
	border-radius: 6px;
	border-right: 2px solid #969E9F;
	border-bottom: 2px solid #969E9F;
	/* max-width: 800px; */
	/* border-top: 3px solid #969E9F; */
	/* border-left: 3px solid #969E9F; */
}

@keyframes hero_slide {
    0%   {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


.hero-fade {
	/* position: absolute; */
	/* height: 40vh; */
	width: 80%;
	/* background-image: linear-gradient(-170deg, #FFFFFF00 66%, #27292d 82%); */
	display: flex;
	/* max-width: 100%; */
	margin: 36px 0px 60px 20%;
}
.profile-img {
	height: 210px;
	width: 210px;
	background-size: cover;
	background-position: 54% 50%;
	border-radius: 6px;
	margin: auto 10px 0px 10px;
	border-right: 2px solid #969E9F;
	border-bottom: 2px solid #969E9F;
}

.intro-cont {
	margin: auto auto auto  20px;
	padding: 0px;
	height: 95px;
	display: flex;
	/* line-height: 1.2; */
	/* width: 100%; */
}
.hero-txt {
	margin: auto 0px auto 0px;
	/* width: 100%; */
}




.main-content {
	width: 100%;
	background-color: #5C6266;
}

/* Homepage hero */
.main {
    height: 500px;
    display: flex;
}
.header h1 {
	font-size: 32px;
	font-weight: 100;
	margin: 0px 0px;
	color: #ededed;
}
.header h2 {
	font-size: 18px;
	margin: 0px 0px;
	font-weight: 200;
	color: #ededed;
}
.header p {
	margin: 30 0 0px 0;
}


/* Reese dev 032920
.body-section-1 {
	width: 100%;
	background: #27292d;
	height: 75vh;
	display: flex;
}*/

.cycle section {
	margin: 0px auto 0px 0px;
	padding: 50px 0px 10px 0px;
	max-width: 300px;
}
.cycle h3 > div {
	display: inline;
}
.cycle h3 > div::before {
	content: '>';
}
.cycle.airtable h3 > div::before {
	content: 'How To';
}
.cycle span {
	animation: rotateWordsFirst 12s infinite;
	-webkit-animation: rotateWordsFirst 12s infinite;
}
.cycle.airtable span {
	animation: rotate3Items 12s infinite;
	-webkit-animation: rotate3Items 6s infinite;
}

.cycle span:nth-child(2) {
	-webkit-animation-delay: 2.4s;
	        animation-delay: 2.4s;
}
.cycle.airtable span:nth-child(2) {
	-webkit-animation-delay: 2s;
	        animation-delay: 2s;
}
.cycle span:nth-child(3) {
	-webkit-animation-delay: 4.8s;
	        animation-delay: 4.8s;
}
.cycle.airtable span:nth-child(3) {
	-webkit-animation-delay: 4s;
	        animation-delay: 4s;
}
.cycle.airtable span:nth-child(1)::after {
	content: '(1 of 3)';
	font-size: 6px;
	color: #a7a7a7;
	margin: 7px 0px 0px 3px;
	position: absolute;
}
.cycle.airtable span:nth-child(2)::after {
	content: '(2 of 3)';
	font-size: 6px;
	color: #a7a7a7;
	margin: 7px 0px 0px 3px;
	position: absolute;
}
.cycle.airtable span:nth-child(3)::after {
	content: '(3 of 3)';
	font-size: 6px;
	color: #a7a7a7;
	margin: 7px 0px 0px 3px;
	position: absolute;
}

.cycle span:nth-child(4) {
	-webkit-animation-delay: 7.2s;
	        animation-delay: 7.2s;
}
.cycle span:nth-child(5) {
	-webkit-animation-delay: 9.6s;
	        animation-delay: 9.6s;
}
.quote {
	padding: 0px;
	width: 80%;
	margin: 30px auto;
}



/* Reese Dev: 1:24AM
042620 */

/* pasted code from Nomad test page  */

@-webkit-keyframes rotateWordsFirst {
    0% {
			opacity: 1;
			-webkit-animation-timing-function: ease-in;
			animation-timing-function:
			ease-in;
			width: 100%;
		}
    100% {
			opacity: 1;
			width: 100%;
		}
}

@keyframes rotateWordsFirst {
	0% {
		opacity: 0.7;
		width: 100%;
		/* bottom: 0px; */
	}
	19% {
		/* top: 60px; */
		opacity:1;
	}
	20% {
		/* opacity:0.2; */
	}
	29% {
		/* opacity: 0.1; */
	}
	30% {
		/* top: -15px; */
		opacity: 0;
	}
	31% {
	}

	100% {
		width: 0%;
		opacity: 0;
	}
}

@keyframes rotate3Items {
	0% {
		opacity: 0.7;
		width: 100%;
		padding-left: 20px;
	}
	5% {
		padding-left: 24px;
	}
	20% {
		opacity:1;
		padding-left: 24px;
	}
	20% {
		padding-left: 24px
	}
	40% {
		opacity: 0;
		padding-left: 22px;
	}
	100% {
		width: 0%;
		opacity: 0;
	}
}

@keyframes nav_fade {
	0% {
		opacity: 0;
		bottom: 45px;
	}
	80% {
		opacity: 0;
		bottom: 45px;
	}
	100% {
		opacity: 1;
		bottom: 85px;
	}
}










/* Noter */
.banner {
	width: 100%;
	height: 20vh;
	background-color: #27292d;
	display: flex;
}
.banner h1 {
	line-height: 1;
	margin: 0px;
}
.banner div {
	border-top: 50px solid #e9eaead6;
	margin: 20px auto auto 20px;
	padding: 15px 60px 60px 15px;
	border-left: 20px solid #e9eaead6;
}

.option-1 {
	display:flex;
	width: 100%;
	height: 100%;
	background-color: #27292d;
}

.option-1 ul {
	margin: 50px 0px;
  width: 100%;
  list-style-type: none;
  padding: 0px;
}

.option-1 li {
	display: flex;
	background-color: #393937;
	padding: 30px 5px;
	width: calc(100% - 60px);
	margin: 40px auto;
	border: 2px solid #e9eaead6;
	border-radius: 20px;
	border-top: 1px solid #e9eaead6;
	border-left: 1px solid #e9eaead6;
}

.option-1 a {
	display: flex;
}

.option-1 li > div {
	display: flex;
}

.option-1 .content {
	display: block;
}
.option-1 button {
	background-color: #393937;
	color: #e9eaead6;
	border: 0px;
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	padding: 0px;
	width: calc(100% - 13px);
	text-align: left;
	cursor: pointer;
	min-width: 150px;
}

.form {
	padding: 40px 0px;
}

.option-1 div {
	margin: auto;
}

.option-1 .hide {
	display: none;
}
