/*

Colors:

Light White: #e9eaead6;
White: #e9eaea;
Light: #27292d
Dark: #18191a

*/

/* Sitewide */

@font-face {
	font-family: Prime-Light;
	src: url(Prime/Prime-Light.woff) format('woff');
}
@font-face {
	font-family: Prime-Regular;
	src: url(Prime/Prime-Regular.woff) format('woff');
}

body {
	margin: 0px;
}

h1 {
	font-family: Prime-Regular, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 16px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	margin: 0px 0px ;
	color: #e9eaea;
	line-height: 1.2;
	margin-bottom: 5px;
}
h2 {
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	margin: 0px 0px ;
	color: #e9eaea;
}

h3 {
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	margin: 0px 0px ;
	color: #e9eaea;
}
h3 span {
	margin-left: 6px;
	position: absolute;
	overflow: hidden;
	opacity: 0;
	color: #f3f3f3;
	font-weight: 600;
	letter-spacing: 2px;
	font-size: 14px;
	font-family: Prime-Regular, "Courier Bold", Courier, Georgia, Times, "Times New Roman", serif;
	max-width: 65%;
}

p {
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 12px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 2;
	margin: 0px 0px ;
	color: #e9eaea;
}
a {
	font-family: Prime-Light, "Courier Bold", Courier, Georgia, Times, "Times New Roman",
	serif; font-size: 10px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 2;
	margin: 0px 0px ;
	color: #e9eaea;
	text-decoration: none;
	border-bottom: 1px solid #e9eaea6e;
}
a::after {
	content: '>>';
	margin-left: 5px;
	font-size: 10px;
}

/* DESKTOP */
.d_cont {
	height: 100vh;
	width: 100%;
	background-color: #27292d;
	display: flex;
}
.d_content {
	margin: auto;
}
@media(max-width: 420px){
	.desktop {
		display: none;
	}
}

/* MOBILE */
@media (min-width: 421px){
	.mobile {
		display: none;
	}
}
/*
Go here to upload images:
http://www.freeimagehosting.net/upload.php
*/


/* Dev 032820 */

/* vvv NAV BTSN vvv */
.nav_btn {
	background: #18191a;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    border-radius: 15.79%;
    border: 1px solid #e9eaead6;
    display: flex;
}
.close_nav {
	background-color: #18191a;
    width: 20px;
    height: 20px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    border-radius: 15.79%;
    border: 1px solid #e9eaead6;
    display: flex;
    z-index: 10;
    animation: open_nav_2 0.5s;
}
.nav_btn button {
	height: 100%;
	width: 100%;
	color: #e9eaead6;
}
.close_nav button {
	height: 100%;
    width: 100%;
    color: #e9eaead6;
    font-size: 8px;
    padding: 0px;
    border: 0px;
    background-color: #27292d;
    transform: rotate(180deg);
}
.nav-btn .bar {
	height: 2px;
    background-color: #000;
    width: 100%;
    margin: 0 auto 1px auto;
    display: inline-block;
}
.hide {
	display:none;
}
/* ^^^ NAV BTNS ^^^ */

/* vvv NAV MENU vvv */
.nav {
	position: fixed;
	width:100%;
	bottom: -5px;
    animation: open_nav 0.4s;
    transition-timing-function: ease-in-out;
}
.nav_wrap {
	height: 100%;
	width: 100%;
	display: flex;
	background-color: #18191a;
	padding: 0px 0px 5px 0px;
	border-top: 1px solid #e9eaea50;
}
.item {
	width: 25%;
	height: 21vh;
	background-color: #18191a;
	display: flex;
}
.item button {
	color: #e9eaea;
    width: 100%;
    margin: auto;
    height: 69px;
    background-color: #18191a;
    border: none;
    border-right: 1px solid #e9eaea85;
}
.nav_wrap .item:last-child button {
    border-right: none;
}
/* ^^^ NAV MENU ^^^ */

/* Blocks */

.block {
	position: fixed;
    bottom: 21vh;
    background-color: #18191a;
    width: 100%;
    margin-bottom: 1px;
    animation: open_nav 0.4s;
    transition-timing-function: ease-in-out;
    height: 21vh;
    display: flex;
}
.block_cont {
	margin: auto;
}

/* Animations */

@keyframes open_nav {
    0%   {transform: translateY(10px);}
    50%  {transform: translateY(-5px);}
    100% {transform: translateY(0px);}
}

@keyframes open_nav_2 {
	0%   {transform: translate(-5px, -5px);opacity: 0;}
    60% {opacity: 0.2;}
    100% {transform: translate(0px, 0px);opacity: 1;}
}
/* how do we so exit animations
looks like we might have to add to classes at the same time, but that's kind
*/



/* end nav menu */

/* start intro */
.intro {
	background-color: #27292d;
	color: #e9eaea;
	background-size:cover;
	background-position: 50% 50%;
	height:40vh;
	animation: hero_slide 30s linear;
}

@keyframes hero_slide {
    0%   {background-position: 100% 50%;}
    100% {background-position: 0% 50%;}
}


.hero-fade {
	position: absolute;
	height: 40vh;
	width: 100%;
	background-image: linear-gradient(-170deg, #FFFFFF00 66%, #27292d 82%);
	display: flex;
}
.profile-img {
	height: 95px;
	width: 95px;
	background-size: cover;
	background-position: 54% 50%;
	border-radius: 15.79%;
	margin: auto 10px 0px 10px;
}

.intro-cont {
	margin: auto auto 0px  0px;
  padding: 0px;
	height: 95px;
	display: flex;
	line-height: 0;
}
.hero-txt {
	margin: auto 0px 0px 0px;
}




.main-content {
	width: 100%;
	height: 60vh;
	background-color: #27292d;
}

/* Homepage hero */
.main {
    height: 500px;
    display: flex;
}
.header h1 {
	font-size: 32px;
	font-weight: 100;
	margin: 0px 0px;
	color: #ededed;
}
.header h2 {
	font-size: 18px;
	margin: 0px 0px;
	font-weight: 200;
	color: #ededed;
}
.header p {
	margin: 30 0 0px 0;
}


/* Reese dev 032920
.body-section-1 {
	width: 100%;
	background: #27292d;
	height: 75vh;
	display: flex;
}*/

.cycle section {
	margin: 0px auto 0px 0px;
	padding: 40px 10px 10px 10px;
	max-width: 300px;
}
.cycle h3 > div {
	display: inline;
}
.cycle h3 > div::before {
	content: 'Thinking about';
}
.cycle span {
	animation: rotateWordsFirst 12s infinite;
	-webkit-animation: rotateWordsFirst 12s infinite;
}
.cycle span:nth-child(2) {
	-webkit-animation-delay: 2.4s;
	        animation-delay: 2.4s;
}
.cycle span:nth-child(3) {
	-webkit-animation-delay: 4.8s;
	        animation-delay: 4.8s;
}
.cycle span:nth-child(4) {
	-webkit-animation-delay: 7.2s;
	        animation-delay: 7.2s;
}
.cycle span:nth-child(5) {
	-webkit-animation-delay: 9.6s;
	        animation-delay: 9.6s;
}
.quote {
	margin: 10px 0px 10px 0px;
	padding: 10px 10px 10px 10px;
}
.quote p {
	color: #ededed;
	font-size: 12px;
}



/* Reese Dev: 1:24AM
042620 */

/* pasted code from Nomad test page  */

@-webkit-keyframes rotateWordsFirst {
    0% {
			opacity: 1;
			-webkit-animation-timing-function: ease-in;
			animation-timing-function:
			ease-in;
			width: 100%;
		}
    100% {
			opacity: 1;
			width: 100%;
		}
}

@keyframes rotateWordsFirst {
	0% {
		opacity: 0.7;
		width: 100%;
		/* bottom: 0px; */
	}
	19% {
		/* top: 60px; */
		opacity:1;
	}
	20% {
		/* opacity:0.2; */
	}
	29% {
		/* opacity: 0.1; */
	}
	30% {
		/* top: -15px; */
		opacity: 0;
	}
	31% {
	}

	100% {
		width: 0%;
		opacity: 0;
	}
}










/* Noter */
.banner {
	width: 100%;
	height: 20vh;
	background-color: #27292d;
	display: flex;
}
.banner h1 {
	line-height: 1;
	margin: 0px;
}
.banner div {
	border-top: 50px solid #fff;
	margin: 20px auto auto 20px;
	padding: 15px 60px 60px 15px;
	border-left: 1px solid #fff;
}

.grid {
	display:flex;
	width: 100%;
	height: 80vh;
	background-color: #27292d;
}

.grid ul {
	margin: auto 0px;
  width: 100%;
  list-style-type: none;
  padding: 0px;
}

.grid li {
	display: flex;
	background-color: #393937;
	padding: 35px 5px;
	width: calc(100% - 10px);
	margin: 10px 0px;
}

.grid div {
	margin: auto;
}
